<header class="header">
    <div class="header-delimiter">
        <figure class="brand">
            
        </figure>
        
        <nav class="nav-buttons">
            <button><i class="material-icons">home</i></button>
            <button><i class="material-icons">fullscreen</i></button>
            <button><i class="material-icons">link</i></button>
        </nav>
    </div>
</header>