<%- include('partials/header.ejs') %>
<body>
    <br><div class="container">
        <div class="d-flex justify-content-between">
            <span></span>
            <a href="/" class="btn btn-primary">Lista de Perguntas</a>
        </div>
        
        <hr>
        <form action="/gravarpergunta" method="POST">
            <div class="card">
                <div class="card-body">
                    <input type="text" name="titulo" class="form-control form-control-lg" placeholder="Título da sua pergunta" required autofocus><br>
                    <textarea name="descricao" class="form-control form-control-lg"  rows="3" placeholder="Descreva a sua pergunta aqui" required></textarea>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span></span>
                    <button type="submit" class="btn btn-primary btn-lg">Postar pergunta</button>
                </div>
            </div>
        </form>
    </div>
</body>
<%- include('partials/footer.ejs') %>