<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <section class="delimiter section-post-question">
        <form class="form form-ask-question" action="/gravarpergunta" method="POST">
            <div class="box-title">
                <h2>Pergunte</h2>
            </div>
            <div class="box-body">
                <input type="text" name="titulo" placeholder="Insira o título da pergunta" class="form-element" required autofocus>
                <textarea name ="descricao" placeholder="Descreva a pergunta" class="form-element" required></textarea>
            </div>
            <div class="box-footer">
                <span></span>
                <button class="button" type="submit">Perguntar</button>
            </div>
        </form>
    </section>
</body>
<%- include('partials/footer.ejs') %>