@charset "utf-8";
/*Reset*/
*, *::before, *::after{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-weight:normal;
	font-family: monda, sans-serif;
}
@font-face {
	font-family: monda;
	src: url("../fonts/monda.woff");
  }
html{font-size:62.5%;scroll-behavior: smooth;}
body{
    background-color: #0D1117;
    font-size:1.6rem;
	scroll-behavior:smooth;
}
.delimiter{
    width: 900px;
    margin: 50px auto;
}
.header{
	background-color: #0D1117;
	width: 100%;
	padding: 2rem;
	border-bottom: .1rem solid #212833a1;
}
.header-delimiter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}
.brand{
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: .5rem;
	align-items: center;
}
.brand  i{
    font-size: 4.2rem;
	font-weight: normal;
	color: #4d5d77;
	cursor: pointer;
}
.nav-buttons{
    display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}
.nav-buttons button{
    display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	outline: none;
	padding: .5rem;
	background-color: #161B22;
	color: #4d5d77;
	transition: .3s;
}
.nav-buttons button:hover{
    background-color: #262f3da6;
}
.section-post-question{
	background-color: #161B22;
	box-shadow: 0px 0px530px -5px rgba(0,0,0,.2);
}
.box-title{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0C41D3;
}
.box-title h2{
    font-size: 2.5rem;
    color: rgb(199, 230, 240);
}
.box-body{
    padding: 2rem;
	background-color: #161B22;
}
.box-footer{
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	border-top: .1rem solid #212833a1;
}

form{display: flex;}
.form-ask-question{
    flex-direction: column;
}
.form-ask-question .box-body{
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
}

.form-label{
	display: block;
	margin-top: 1rem;
	color: #11325fa1;
	padding: 0 1.5rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.form-element{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: .5rem 1rem;
	margin-top: .5rem;
	background-color: #030a14;
	border: .1rem solid #2c3544;
	color: #E1E1E6;
	font-size:2rem;
	outline: none;
}

.form-element::placeholder{
    font-size: 1.6rem;
    color: rgba(170, 170, 170, 0.342);
}
.form-element:focus{
    border: .2rem solid #8625D2;
	background-color: #010409;
}
.button{
	padding: .7rem 2rem;
	background-color: #0c41d3;
	font-size: 1.8rem;
	border: none;
	color: rgb(199, 230, 240);
	cursor: pointer;
	margin-top: .5rem;
}